# Node Modules
/frontend/node_modules/

# Build files
/frontend/dist/

# Java Build files
/backend/target/

# IDE files
*.idea/
*.vscode/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

private/
/.metadata/

# Ignore the source file
server/src/main/resources/application.properties

# Ignore generated properties file in build output
server/target/classes/application.properties

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


# Eclipse/IDE directories
server/.metadata/
# General IDE config files/folders
*.iml
*.swp
.idea/
.vscode/

